// Note that running niri as a session supports xdg-desktop-autostart,

spawn-at-startup "noctalia"
spawn-at-startup "fcitx5" "-d"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
