include "set/input.kdl"
include "set/layout.kdl"
include "set/spawn.kdl"
include "set/rules.kdl"
include "set/keybinds.kdl"
include "noctalia.kdl"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

switch-events {
    lid-close {
        spawn "bash" "-c" "$HOME/.config/niri/scripts/lid-close.sh"
    }
    lid-open {
        spawn "bash" "-c" "$HOME/.config/niri/scripts/lid-open.sh"
    }
}

prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/%Y%m%d_%H:%M:%S.png"
// screenshot-path null // You can also set this to null to disable saving screenshots to disk.

overview {
    backdrop-color "#26233a"
}


animations {
    // Values below 1 speed them up instead.
    slowdown 1.2
}
